# Virtual Environment
venv/
*.venv
.venv

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# IDE files
.vscode/
.idea/

# Build artifacts
dist/
build/
*.egg-info/
